<% layout('/layout') -%>
<div class="container-fluid">
  <div>
    Thank you! You have answered all of the survey questions.
  </div>
  
  <div>
    You may now procede to the
    <a href="/forums/<%= topic %>">forums for the <%= topic %> questionnaire</a>.
  </div>
</div>
